<h1 class="header-h1">Books</h1>
<i id="list" class="material-icons" onclick="hide()">menu</i>
<i id="close" class="material-icons" onclick="show()">clear</i>
<nav>
<ul id="list-item">
    <li><a href="/">Home</a></li>
    <li><a href="/search/new">Search</a></li>
</ul>
</nav>